:root {
  --site-title-font-size: 2rem;
  --site-title-font-size-value: 2;
  --mobile-site-title-font-font-size-value: .8;
  --main-font-color: #676767;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  color: var(--main-font-color);
}

a {
  cursor: pointer;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vw;
}

.name {
  font-size: calc((var(--mobile-site-title-font-font-size-value) - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
}

.nav-links {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.nav-links.show {
  display: flex;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: var(--main-font-color);
  border-radius: 1px;
  transition: all .2s ease-in-out;
}

.hamburger-menu.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 3.5px);
}


.hamburger-menu.open .bar:nth-child(2) {
  transform: rotate(45deg) translate(-5px, -3.5px);
}

@media (min-width: 769px) {
  nav {
    align-items: baseline;
    padding: 2vw 3vw;
  }

  .name{
    font-size: calc((var(--site-title-font-font-size-value) - 1) * 1.2vw + 1rem);
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
  }
  
  .nav-links a {
    color:gray;
    text-decoration: none;
    font-size: calc((-.1) * 1.2vw + 1rem);
  }

  .hamburger-menu {
    display: none;
  }
}
